.mask-group {
  height: 295px;
  margin-bottom: -134px;
  margin-left: 202px;
  width: 374px;
}

.mask-group.mask-group-1 {
  margin-bottom: -689px;
}

.mask-group.mask-group-2 {
  margin-bottom: -1244px;
}

.mask-group.mask-group-3 {
  margin-bottom: -1799px;
}

.mask-group.mask-group-4 {
  margin-bottom: -2354px;
}

.mask-group.mask-group-5 {
  margin-bottom: -2909px;
}

.mask-group.mask-group-6 {
  margin-bottom: -3464px;
}

.mask-group.mask-group-7 {
  margin-left: 607px;
}

.mask-group.mask-group-8 {
  margin-bottom: -689px;
  margin-left: 607px;
}

.mask-group.mask-group-9 {
  margin-bottom: -1244px;
  margin-left: 607px;
}

.mask-group.mask-group-10 {
  margin-bottom: -1799px;
  margin-left: 607px;
}

.mask-group.mask-group-11 {
  margin-bottom: -2354px;
  margin-left: 607px;
}

.mask-group.mask-group-12 {
  margin-bottom: -2909px;
  margin-left: 607px;
}

.mask-group.mask-group-13 {
  margin-bottom: -3464px;
  margin-left: 607px;
}

.mask-group.mask-group-14 {
  margin-bottom: -131px;
  margin-left: 1012px;
}

.mask-group.mask-group-15 {
  margin-bottom: -689px;
  margin-left: 1012px;
}

.mask-group.mask-group-16 {
  margin-bottom: -1244px;
  margin-left: 1012px;
}

.mask-group.mask-group-17 {
  margin-bottom: -1799px;
  margin-left: 1012px;
}

.mask-group.mask-group-18 {
  margin-bottom: -2354px;
  margin-left: 1012px;
}

.mask-group.mask-group-19 {
  margin-bottom: -2925px;
  margin-left: 1012px;
}

.mask-group.mask-group-20 {
  margin-bottom: -3464px;
  margin-left: 1012px;
}

