.view-1 {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  min-width: 229px;
  padding: 0 0.0px;
}

.icon-facebook {
  height: 43px;
  object-fit: cover;
  width: 42px;
}

.w513h5131371296104-facebook-7 {
  height: 40px;
  margin-left: 22px;
  margin-top: 0;
  object-fit: cover;
  width: 40px;
}

.telegram-4 {
  height: 40px;
  margin-left: 22px;
  margin-top: 0;
  object-fit: cover;
  width: 39px;
}

.logo-whatsapp-png-tr {
  height: 43px;
  margin-left: 22px;
  object-fit: cover;
  width: 43px;
}

