.group-94 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 177px;
  min-height: 200px;
  width: 188px;
}

.text-93 {
  letter-spacing: 0;
  min-height: 22px;
}

.text-94 {
  letter-spacing: 0;
  margin-top: 30px;
  min-height: 22px;
}

.text-9-2 {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 22px;
}

