.group-84 {
  align-items: center;
  display: flex;
  height: 47px;
  justify-content: flex-end;
  left: 1134px;
  min-width: 344px;
  position: absolute;
  top: 21px;
}

.text-228 {
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 22px;
  min-width: 73px;
}

.group-17 {
  align-self: flex-start;
  height: 10px;
  margin-left: 6px;
  margin-top: 7.0px;
  width: 16px;
}

.icon-location_pin {
  height: 24px;
  width: 17px;
  margin-right: 10px;
}