.group-75 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 358px;
  position: relative;
  width: 246px;
}

.text-98 {
  letter-spacing: 0;
  min-height: 22px;
}

.text-5 {
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 22px;
}

