.group-85 {
  align-items: center;
  display: flex;
  height: 45px;
  left: 1564px;
  min-width: 195px;
  position: absolute;
  top: 21px;
}

.overlap-group-6 {
  height: 35px;
  margin-top: 0.33px;
  position: relative;
  width: 37px;
}

.ellipse-5 {
  background-color: var(--fuel-yellow);
  border-radius: 7px;
  height: 14px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 14px;
}

.number-10 {
  left: 27px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
}

.text-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  min-height: 45px;
  width: 139px;
}

.text-8 {
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 20px;
}

.text-9 {
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 20px;
}

